*{ /*Resetando CSS*/
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body{
	background-color: #696969;
	background: linear-gradient(0deg, rgba(74,74,74,1) 0%, rgba(116,116,116,1) 50%, rgba(174,177,177,1) 100%) fixed;
	background-size: 100vw 100vh;
	font-family: 'Ubuntu Mono', monospace;
	height: 100vh;
}

header{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*Organizando o menu da pagina*/
.menu{
	background-color: whitesmoke;
	position: fixed;
	width: 100vw;
	top: 0;
	margin-top: 2px;
	z-index: 1;
}

/*@media (min-width:400px){
	header{
		height: 50vh;
	}
}*/

.menu ul{
	display: flex;
	justify-content: space-around;
}

.menu li{
	list-style: none;
}

.menu a{
	color: teal;
	text-decoration: none;
	display: block;
	padding: 10px 20px;
	transition: background-color 1s, color 0.5s;
}

.menu a:hover,
.menu a:active{
	background-color: teal;
	color: whitesmoke;
}

.title{
	transform: scale(0.2);
	opacity: 0;
	animation: linear 1s titleAnim forwards;
}

@keyframes titleAnim{
	100% {
		transform: scale(1);
		opacity: 1;	
	}
}

.site-subtitle,
.site-title{
	text-align: center;
	color: whitesmoke;
	font-family: 'Baloo Thambi 2', cursive;
}

.site-subtitle{
	font-style: italic;
}

.sobre,
.projetos,
.contato{
	padding: 2em;
	min-height: 100vh;
}

@media (min-width:1200px){
	.container{
		margin-left: auto;
		margin-right: auto;
		max-width: 1200px;
}
}

.sobre h2,
.projetos h2,
.contato h2{
	font-family: 'Lobster', cursive;
	color: whitesmoke;
	margin-bottom: 1em;
	font-size: 2em;
	text-align: center;
	padding-top: 5px;
}

.sobre .foto{
	float: left;
	margin-right: 2em;
	margin-bottom: 1em;
}

.img-avatar{
	width: 200px;
	height: 200px;
	object-fit: cover;
	object-position: 0 -30px;
	clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
	/* border-radius: 50%; */
}

.sobre p{
	color: whitesmoke;
	text-indent: 2em;
	margin-bottom: 1.5em;
	text-align: justify;
	font-size: 1.2em;
}

.projetos .grid{
	display: grid;
	gap: 2em;
}

@media (min-width: 565px){
	.projetos .grid{
		grid-template-columns: repeat(2, 240px);
		justify-content: center;
	}
}

@media (min-width: 850px){
	.projetos .grid{
		grid-template-columns: repeat(3, 240px);
		height: 100vh;
		justify-content: center;
		align-content: center;
	}
}

.projetos figure{
	text-align: center;
}

.img-projetos{ /*definição das imagens do portfolio*/
	width: 240px;
	height: 180px;
	object-fit: cover;
	object-position: left bottom;
	border-radius: 10px;
	transition: transform 1s;
}

.img-projetos:hover{
	transform: scale(1.04) rotate(-1deg);
}

/* .flip-card {
	perspective: 600px;
}

.card{
	position: relative;
	transform-style: preserve-3d;
	transition: transform 1.5s;
}

.flip-card:hover .card{
	transform: rotateY(180deg);
}

.card-front, .card-back{
	position: absolute;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

.card-back{
	background-color: whitesmoke;
	width: 240px;
	height: 180px;
	transform: rotateY(180deg);
} */

@media (min-width: 1200px){
	.projetos .grid{
		grid-template-columns: repeat(3, 350px);
		height: 100vh;
		justify-content: center;
		align-content: center;
	}

	.img-projetos{
		width: 350px;
		height: 250px;
	}

	/* .card-back{
		background-color: whitesmoke;
		width: 350px;
		height: 250px;
	} */
}

.projetos figcaption{
	color: whitesmoke;
}

.contato .grid{
	display: grid;
	gap: 2em;
}

@media (min-width: 565px){
	.contato .grid{
		grid-template-columns: repeat(2, 240px);
		justify-content: center;
	}
}

@media (min-width: 850px){
	.contato .grid{
		grid-template-columns: repeat(4, 150px);
		justify-content: center;
	}
}

.contato .icons{
	text-align: center;
}

.contato a{
	color: whitesmoke;
	font-size: 6em;
	transition: text-shadow 1s;
}

.contato a:hover,
.contato a:active{
	text-decoration: none;
	text-shadow: 4px 4px 10px #505050;
}




